{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}

{% block styles %}
    {{ block.super }}
{% endblock %}

{% block container %}

{% endblock %}


{% block content %}
{% include 'partial/_carousel.html' %}

<p>
  <button class="badge bg-info text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    More Books...
  </button>
</p>
<div style="">
  <div class="collapse collapse-horizontal" id="collapseWidthExample">
    <div class="card card-body" style="width: 300px;">
      If you want to read more, go to books tab in menu.
    </div>
      <a href="{% url 'home:item_view' %}" class="btn btn-primary">Go to Books</a>
  </div>
</div>
{% endblock %}


