{% extends 'base.html' %}

{% block title %}
Item-details
{% endblock %}

{% block content %}
<h1>{{ post.name }}</h1>
<div class="container mt-5">
  <div class="row">
    <div class="card col-lg-6 offset-lg-3 mb-3">
      <div class="card-body">
          <h2 class="card-title my-3"> </h2>
        </a>
        <div class="text-muted mb-3">
          <div>
            <span>created: {{ post.posted_date|date:"N j Y" }} |</span>
            <span>updated: {{ post.updated_on|timesince }} ago |</span>
            <span>author: {{ post.user }}</span>
          </div>
            <p class="card-text">{{ post.description}}</p>
        </div>

        <h2>Comments...</h2>
        {% for comment in post.comments.all %}
        <b>{{ comment.user }}</b> said <b>{{ comment.data_added|timesince }} ago</b>
        <p>{{ comment.content }}</p>
        {% if comment.user == request.user %}
        <div class="mt-4 mx-3">
          <a class="btn btn-danger" href="{% url 'home:delete-comment' pk=comment.id %}">Delete</a>
        </div>
        {% endif %}
        {% empty %}
        <p>Feel free to leave the first comment!</p>
        {% endfor %}
        <hr>
        <h3>Add a comment</h3>
        <form action="{% url 'home:add-comment' object.pk %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" >Submit</button>
        </form>
  </div>
</div>

 {% if post.user == request.user %}
  <div class="mt-4 mx-3">
    <a class="btn btn-danger" href="{% url 'home:delete-item' post.id %}">Delete</a>
  </div>
  {% endif %}

{% endblock %}